{% extends 'base.html' %}

{% block content %}
<form action="{% url 'user_login' %}" method="post">
    {% csrf_token %}
    <p>
        <label for="username"> User name: </label>
        <input id="username" type="text" name="username">
    </p>
    <p>
        <label for="password"> Password: </label>
        <input id="password" type="password" name="password">
    </p>
    <p style="color: blue">
        {% if error %}
            {{ error }}
        {% endif %}
    </p>
    <p>
        <button type="submit">Sign in</button>
    </p>
</form>
{% endblock %}